h1 {
    text-align: center;
  }
  
  input {
    margin-right: 10px;
    padding: 5px;
  }
  
  button {
    margin-left: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .add-task-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-task-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkred;
  }
  